<%- include ../partials/header %>

    <div class="char-select d-flex flex-row">

    </div>

    <h1>New Episode Route</h1>

    <form class="" action="/fics/<%=fic_id%>/eps" method="post">
      <input type="text" name="ep[title]" placeholder="Title">

      <button id="add-btn" type="button" name="button">Add</button>


      <button id="submit-btn" class="btn btn-lg btn-dark" type="submit" name="button">Submit</button>
    </form>

    <!-- Invisble div to be cloned by DOM -->
    <div class="d-none dialogue-form border bg-light text-center my-2">
      <p>Char Name will be displayed here</p>
      <input class="d-none" type="text" name="ep[char]">
      <input type="text" name="ep[text]" placeholder="Enter Text Here">
    </div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- New Episode JavaScripts -->
<script src="/scripts/char-form.js" charset="utf-8"></script>

<%- include ../partials/footer %>
