<%- include ../partials/header %>

    <!-- Character Selection Is Found in Header File-->


    <!-- The Entire Input Form -->
    <form class="" action="/fics/<%=fic_id%>/eps" method="post">

      <!-- Title & BG Color Inputs -->
      <div class="text-center pb-1 bg-white border-bottom mb-4 shadow-lg">
        <input class="border-top border-bottom" type="text" name="title" placeholder="Title">
        <label for="bg-color">Background Color</label>
        <input id="bg-color" type="color" name="bgColor" value="#FFFFFF">
      </div>

      <!-- Container for all Dialogue Inputs -->
      <div id="dialogue-container" class="shadow-lg">
        <p id="create-text-marker" class="text-center mb-4 text-secondary bg-secondary text-light">
          Click on a character's name to create dialogue here.</p>
      </div>

      <!-- Submit Button -->
      <button id="submit-btn" class="btn btn-xl btn-primary py-3 w-100 rounded-0 mt-4" type="submit" name="button">Submit</button>
    </form>

    <!-- Invisble div to be cloned by the DOM -->
    <div class="d-none dialogue-form border bg-light text-center">

      <!-- Invisible Char Name -->
      <input id="dialogue-name-template-input" class="dialogue-name-input d-none" type="text" name="char">

      <!-- Row for Name, Colors, and Text -->
      <div class="dialogue-form-row row bg-white">

        <!-- Column for Name and Colors -->
        <div class="col-3 text-center pt-4">
          <p id="dialogue-name-template" class="dialogue-name char-name"></p>
          <input id="font-color-template-input" class="font-color-input" type="color" name="fontColor">
          <input id="highlight-template-input" class="highlight-input" type="color" name="highlight">
        </div>

        <!-- Column for Dialogue Text -->
        <div class="dialogue-textarea col-9">
          <!-- Cancel Button -->
          <i class="cancel-btn far fa-window-close fa-2x text-secondary float-right mr-2 mt-1"></i>
          <!-- Dialogue Textarea -->
          <textarea
            class="m-0 border-0 dialogue-text"
            name="text"
            placeholder="Enter Text Here"
            maxlength="140"></textarea>
        </div>

      </div>

    </div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- New Episode JavaScripts -->
<script src="/scripts/ep-form.js" charset="utf-8"></script>

<%- include ../partials/footer %>
