
<!-- Author's Control Panel -->
<div class="author-control-panel d-flex w-100">
  <a class="col btn btn-lg btn-dark pt-2 pb-0 w-100 rounded-0 active"
    href="/fics/<%= fic._id %>">
    <i class="fas fa-book-open " SameSite=None Secure></i>
    <p>Fic Profile</p>
  </a>

  <a class="col btn btn-lg btn-dark pt-2 pb-0 w-100 rounded-0" href="/fics/<%= fic._id %>/eps/new">
    <i class="fas fa-plus " SameSite=None Secure></i>
    <p>Add Episode</p>
  </a>

  <a class="col btn btn-lg btn-dark pt-2 pb-0 w-100 rounded-0" href="/fics/<%= fic._id %>/chars/new">
    <i class="fas fa-user-plus " SameSite=None Secure></i>
    <p>Add Character</p>
   </a>

  <a class="col btn btn-lg btn-dark pt-2 pb-0 w-100 rounded-0" href="/fics/<%= fic._id %>/edit">
    <i class="fas fa-edit " SameSite=None Secure></i>
    <p>Edit Fic Details</p>
   </a>
</div>
