<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- local stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>QuickFics</title>
  </head>
  <body>

<!-- BOTTOM NAVBAR -->

<!-- NOT LOGGED IN USER NAVBAR -->
<div class="top-nav fixed-top bg-dark d-flex flex-row text-light p-2">
  <div class="nav-brand w-100">
    <h1>QuickFics</h1>
  </div>
  <div class="">
    <i class="fas fa-search fa-2x mt-2"></i>
  </div>
  <div class="">
    <a class="nav-link text-light" href="">About</a>
  </div>
</div>

<!-- SPACER -->
<div class="top-spacer">

</div>
