<%- include ./partials/header %>

  <div class="container text-center mt-4">
    <h1 class="display-3 my-3">About</h1>
    <p>
      QuickFics is a simple way to create and read works of fiction.
    </p>
    <div class="mx-auto mt-4">
      <ul class="text-left about-features">
        <li>Create stories called "Fics!"</li>
        <li>Add characters with customized font colors!</li>
        <li>Write episodes using the characters you made!</li>
        <li>Share your creativity with friends!</li>
      </ul>
    </div>
  </div>

  <div class="text-center mt-5">
    <p>Website by
      <a class="text-decoration-none text-secondary"
        href="https://oscarkodes.work/">
        <em>Oscar Ko</em></a>
    </p>
    <p>
      <a class="text-decoration-none text-dark"
        href="https://github.com/OscarKodes">
        <i class="fab fa-github fa-2x mr-3"></i>
      </a>
      <a class="text-decoration-none text-dark"
        href="https://www.linkedin.com/in/oscar-ko/">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </p>
  </div>


<%- include ./partials/footer %>
