<%- include ./partials/header %>
    <h1>Login Page</h1>

    <form class="" action="/login" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <button type="submit" name="button">Submit</button>
    </form>

        <a class="btn btn-success" href="/auth/google">Login with Google</a>
        <a class="btn btn-primary" href="/auth/facebook">Login with Facebook</a>

<%- include ./partials/footer %>
