<%- include ./partials/header %>
    <h1 class="text-center my-5 display-3">Register</h1>

    <div class="container mb-4">
      <a class="btn btn-danger btn-xl w-100 shadow-lg pt-3"
        href="/auth/google">
        <i class="fab fa-google fa-2x float-left"
         SameSite=None Secure></i>Sign up with Google</a>
    </div>

    <div class="container mb-5">
      <a class="btn btn-primary btn-xl w-100 shadow-lg pt-3"
        href="/auth/facebook">
        <i class="fab fa-facebook-square fa-2x float-left"
         SameSite=None Secure></i>Sign up with Facebook</a>
    </div>

    <div class="text-center">
      <button class="btn btn-outline-dark py-1 mb-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Or Click Here to Register with a Username
      </button>
    </div>
    <div class="collapse text-center" id="collapseExample">
      <form class="" action="/register" method="post">
        <input class="" type="text" name="username" placeholder="Username" minlength=3>
        <input class="" type="email" name="email" placeholder="Email">
        <input class="border-bottom shadow" type="password" name="password" placeholder="Password" minlength=8>
        <button class="btn btn-xl btn-dark mt-4 py-1 shadow" type="submit" name="button">Register</button>
      </form>
    </div>





<%- include ./partials/footer %>
