<%- include ../partials/header %>
    <h1>Index Page woo hoooo</h1>

    <% fics.forEach(function(fic){ %>
      <h2><%=fic.title%></h2>
      <p><%=fic.description%></p>
    <% }); %>

<a href="/fics/new">New Fic</a>

<%- include ../partials/footer %>
