<%- include ../partials/header %>
    <h1>New Page woo hoooo</h1>

    <form class="" action="/fics" method="post">
      <input type="text" name="fic[title]" placeholder="Title">
      <input type="text" name="fic[description]" placeholder="Description">
      <button type="submit" name="button">Submit</button>
    </form>

<%- include ../partials/footer %>
