<%- include ../partials/header %>
    <h1 class="display-3 text-center mt-3 mb-5">New Fic</h1>

    <form class="" action="/fics" method="post">
      <input type="text" name="fic[title]" placeholder="Title" maxlength="30" required>
      <textarea name="fic[description]" placeholder="Description" maxlength="140" required></textarea>
      <button class="btn btn-xl btn-primary py-3 w-100 rounded-0 mt-4" type="submit" name="button">Submit</button>
    </form>

<%- include ../partials/footer %>
