body {
  background-color: lavender;
}


/* NAVBAR SELECTORS */
.top-spacer {
  height: 6rem;
}

.bottom-nav p {
  font-size: .85rem;
  margin-bottom: 0;
  line-height: .9;
}

.bottom-nav .nav-link {
  padding: .8rem 0 .8rem;
}

/* GENERAL CLASSES */
.btn-xl {
  padding: .8rem 2.2rem;
  font-size: 2rem;
}

/* FIC INDEX PAGE */
.fic-card-container {
  border-bottom: 1px solid lightgrey;
}

.fic-card {
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid lightgrey;
}

/* CHAR INDEX PAGE */
.char-card-container {
  border-bottom: 1px solid lightgrey;
}

.char-card {
  border-top: 1px solid lightgrey;
}

.char-name {
  display: inline-block;
  padding: .2rem .8rem;
  border-radius: 2rem;
  border: 1px solid lightgrey;
}
