body {
  background-color: lavender;
}


/* NAVBAR SELECTORS */
.top-spacer {
  height: 6rem;
}

.bottom-nav p {
  font-size: .85rem;
  margin-bottom: 0;
  line-height: .9;
}

.bottom-nav .nav-link {
  padding: .8rem 0 .8rem;
}

/* GENERAL CLASSES */
.btn-xl {
  padding: .8rem 2.2rem;
  font-size: 2rem;
}

/* FIC INDEX PAGE */
.fic-card-container {
  background-color: black;
  border-top: 1rem black solid;
  border-bottom: 1rem black solid;
}

.fic-card {
  text-align: center;
  padding: 1rem 0;
  margin: 1rem 0;
}
