body {
  background-color: lavender;
}

/* p, h1 {
  word-wrap: break-word;
} */

input[type="text"], textarea {
  display: block;
  width: 100vw;
  font-size: 2rem;
  padding: 2rem;
  border: none;
  border-top: 1px solid lightgrey;
}

input[type="color"] {
  border: none;
  width: 3rem;
  height: 3rem;
  margin: .5rem;
}

textarea {
  resize: none;
  overflow: hidden;
  height: 18rem;
  border-bottom: 1px solid lightgrey;
}

input[type="text"] {
  height: 6rem;
}

label {
  font-size: 1.5rem;
  color: #777;
}


/* NAVBAR SELECTORS */
.top-spacer {
  height: 6rem;
}

.top-spacer-ep-form {
  height: 11rem;
}

.bottom-spacer {
  height: 7rem;
}

.bottom-nav p {
  font-size: .85rem;
  margin-bottom: 0;
  line-height: .9;
}

.bottom-nav .nav-link {
  padding: .8rem 0 .8rem;
}

/* GENERAL CLASSES */
.btn-xl {
  padding: .8rem 2.2rem;
  font-size: 2rem;
}

/* FIC INDEX PAGE */
.fic-card-container {
  border-bottom: 1px solid lightgrey;
}

.fic-card {
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid lightgrey;
}

/* FIC SHOW PAGE */
.author-control-panel p {
  font-size: .8rem;
}


.episode-link {
  font-weight: light;
  font-size: 1.3rem;
}

/* CHAR INDEX PAGE */
.char-card-container {
  border-bottom: 1px solid lightgrey;
}

.char-card {
  border-top: 1px solid lightgrey;
}

.char-name {
  display: inline-block;
  padding: .2rem .8rem;
  border-radius: 2rem;
  border: 1px solid lightgrey;
}

/* CHAR NEW PAGE */
.char-name-preview {
  border: 1px solid lightgrey;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: .5rem;
  width: 30vw;
  margin: 1rem auto;
  text-align: center;
  color: #aaa;
}

/* EPISODE NEW, EDIT, SHOW PAGE */
.make-char-prompt {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 10rem;
}

.char-select {
  overflow: hidden;
}

.char-btn {
  width: 20%;
  height: 3rem;
  padding: .5rem .8rem;
  border: 1px solid lightgrey;
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0;
}

#dialogue-container {
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.marker-btn-container {
  position: absolute;
  width: 50%;
  margin: 0 25%;
  z-index: 100;
}

.move-text-marker-btn,
#bottom-marker-btn {
  background-color: white;
  border-radius: 50%;
  font-size: 2rem;
  position: relative;
  bottom: 1rem;
  right: 1rem;
}

#bottom-marker-btn {
  bottom: 1rem;
  left: 50%;
  right: 0;
  transform: translateX(-2rem);
}

.move-text-marker-btn:hover,
#bottom-marker-btn:hover {
  filter: brightness(1.5);
}

input[type="color"].font-color-input,
input[type="color"].highlight-input {
  border: none;
  width: 2rem;
  height: 2rem;
  margin: .5rem .2rem;
}

.dialogue-name.char-name {
  width: 80%;
  margin: auto 10%;
  text-align: center;
}

.show-page.dialogue-name.char-name {
  width: 8.5rem;
  margin-left: 1.7rem;
  margin-top: 1.2rem;
}

.cancel-btn:hover {
  transform: scale(1.2);
  filter: brightness(.5);
}

textarea.dialogue-text {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: 1.2rem 1rem;
  border: none;
  resize: none;
  overflow: hidden;
  height: 8rem;
}

p.dialogue-text {
  font-size: 1.25rem;
  padding: 1.2rem 1rem;
}
