<%- include ../partials/header %>
    <h1>Index Page for chars</h1>

    <% fic.chars.forEach(function(char){ %>
      <h3><%= char.name %></h3>
      <p><%= char.description %></p>
    <% }); %>



<%- include ../partials/footer %>
