<%- include ../partials/header %>

    <h1>New character</h1>

    <form class="" action="/fics/<%= fic_id %>/chars" method="post">
      <input type="text" name="char[name]" placeholder="Name">
      <input type="text" name="char[description]" placeholder="Description">
      <button type="submit" name="button">Submit</button>
    </form>

    <a class="btn btn-lg btn-secondary" href="/fics/<%= fic_id %>">Back to fic</a>


<%- include ../partials/footer %>
